<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.ArticleMapper">

    <!--<select id="selectById" parameterType="java.lang.Integer" resultType="model.Article">
        select * from article where id = #{id}
    </select>-->

    <resultMap id="selectArticle" type="Article">
        <id column="article_id" property="article_id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="likeNum" property="likeNum"/>
        <result column="good" property="good"/>
        <result column="collect" property="collect"/>
        <result column="commentNum" property="commentNum"/>
        <result column="readeNum" property="readeNum"/>
        <result column="updatime" property="updatime"/>
        <result column="isadmin" property="isadmin"/>
        <result column="flg" property="flg"/>
        <result column="isessence" property="isessence"/>
        <result column="forum_id" property="forum_id"/>
        <association property="author" javaType="Author" column="author_id" select="mapper.AuthorMapper.selectById">
        </association>
    </resultMap>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="selectArticle">
        select * from article where article_id = #{id}
    </select>

    <select id="selectList" parameterType="model.PageArc" resultMap="selectArticle">
        select * from article where forum_id = #{id} and title like '%${title}%' limit #{index},#{limit}
    </select>

    <select id="selectCount" parameterType="model.PageArc" resultType="java.lang.Integer">
        select count(1) from article where forum_id = #{id} and title like '%${title}%'
    </select>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from article where article_id = #{id}
    </delete>

    <sql id="insertsql">

    </sql>

    <insert id="insert" parameterType="model.ArticleDto" >
        insert into article(title,content,likeNum,good,collect,commentNum,updatatime,isadmin,author_id,flg,isessence,forum_id,readeNum)
        values (#{title},#{content},#{likeNum},#{good},#{collect},#{commentNum},#{updatatime},#{isadmin},#{author_id},#{flg},#{isessence},#{forum_id},#{readeNum})
    </insert>

    <update id="update" parameterType="model.Article" >
        update article set title = #{title},content=#{content},updatatime=#{updatatime} where article_id = #{article_id}
    </update>

</mapper>